*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
}
nav ul{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

nav ul li{
    color: white;
}

li{
    list-style: none;
}
