*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
}
nav ul{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

nav ul li{
    font-size: 30px;
    padding: 20px;
    list-style: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
}
